body {
    margin: 0;
    font-family:'Roboto Light', 'Roboto Medium', 'Roboto';
    
}







.intro {
    display:flex;
    align-items: center;
    justify-content:center;
}



/* Keeping above */

.hero {
    color: white;
    background-color: #1F2937;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.header {
    width:75%;
    display: flex;
    justify-content:space-between;
    margin-bottom: 30px;
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    width:75%;
    padding-bottom: 100px;
    gap: 30px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 8px;
}

.hero-second-text{
    color: #E5E7EB;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

ul {
    list-style-type: none;
    display:flex;
    flex-direction: row;
  }

a {
    text-decoration: none;
    color: #E5E7EB;
}

.list {
    display: flex;
    gap: 16px;
}



.belowHeader {
    display: flex;
    justify-content: center;
    width:75%;
    padding-bottom: 100px;
    gap: 30px;
}

#axolotl {
    min-width: 15%;
    max-width: 100%;
    height: auto;
}

.left-below-header {
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right-below-header {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

button {
    color: white;
    background-color: #3882F6;
    width: 4.5em;
    height:1.5em;
    border:0;
    border-radius: 4px;
    font-size: 18px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.info-header {
    font-weight: bolder;
    color: #1F2937;
    font-size: 36px;
    margin-bottom: 50px;;
}

.cards-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width:12%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    gap: 10px;
}

.block {
    display: inline-block;
    width: 100%;
    padding-top: 100%;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
    border-radius: 10px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 5% 20% 5% 20%;
    

}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight:lighter;

}

.author {
    margin-left:auto;
    font-size: 20px;
    font-weight: bold;
}

.modal-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    width: 75%;
    /* padding-top: 25%; */
    background-color: #3882F6;
    color:white;
    margin-top: 8%;
    margin-bottom: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
    border-radius: 8px;
}

.right-modal {
    margin-left: 20px;
}

.title-modal {
    color: #F9FAF8;
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 10px;

}

.text-modal {
    color:#E5E7EB;
    font-size: 20px;
    font-weight: lighter;
}


.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}